<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Amount (&euro;)</th>
      <th>Products</th>
    </tr>
    </thead>
    @if (isLoading) {
      Loading ...
    } @else {
      <tbody>
      <tr>Total (&euro;): {{ totalCarts }}</tr>
        @for (cart of carts; track cart.id) {
          <tr>
            <td>{{ cart.id }}</td>
            <td>{{ getUserDetails(cart.userId)?.firstName + ' ' + getUserDetails(cart.userId)?.lastName }}</td>
            <td>{{ cart.total }}</td>
            <td>
              <table>
                <tr>
                  <th style="width: 40px">ID</th>
                  <th>Title</th>
                </tr>
                @for (product of cart.products; track product) {
                  <tr>
                    <td>{{ product }}</td>
                    <td>{{ getProductDetails(product)?.title }}</td>
                  </tr>
                }
              </table>
            </td>
          </tr>
        }
      </tbody>
    }
  </table>
</div>
