<div class="table-container">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Amount (&euro;)</th>
      <th>Products</th>
    </tr>
    </thead>
    @if (isReady | async) {
      <tbody>
      <tr>Total (&euro;): {{ totalCarts() }}</tr>
        @for (cart of carts(); track cart.id) {
          <tr>
            <td>{{ cart.id }}</td>
            <td>{{ cart.userId | user | async }}</td>
            <td>{{ cart.total }}</td>
            <td>
              <table>
                <tr>
                  <th style="width: 40px">ID</th>
                  <th>Title</th>
                </tr>
                @for (product of cart.products; track product) {
                  <tr>
                    <td>{{ product }}</td>
                    <td>{{ product | product | async }}</td>
                  </tr>
                }
              </table>
            </td>
          </tr>
        }
      </tbody>
    } @else {
      Loading ...
    }
  </table>
</div>
